.MenuBar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.MenuBar > .MenuBarItem {
    position: relative;
    top: 1px;
    padding: 5px 10px;
    cursor: pointer;

    text-align: left;
    border-bottom: 1px solid #A9A9A9;
}


.MenuBar > .MenuBarItem.active {
    border-bottom: 1px solid white;
}

.MenuBar .Menu {
    margin: 0;
    padding: 5px;
    position: absolute;
    background-color: white;

    list-style: none;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border: 1px solid rgba(0,0,0,0.2);
    
    border-radius: 0 3px 3px 3px;
    border-top: 0;

    font-size: 0.9em;
}

.MenuBar .Menu > li {
    padding: 5px;
    cursor: pointer;
    text-align: left;
}