
.Board {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Board, .Board * {
    box-sizing: border-box;
}

.Board > div {
    position: relative;
}

.row {
    margin: 0 auto;
    padding: 0;
    font-size: 0;
}

.row * {
    font-size: 0;
}

.board-object {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
}

.board-object > * {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* animation-duration: 1.5s;
    animation-iteration-count: infinite; */
    width: 100%;
    height: 100%;
}

.tank {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    background-size: 100% 100%;
}

.laser {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    background-color: #0df90a;
    border: 1px solid black;
}

.TANK_N {
    background-image: url(../../images/obj00.png);
}

.TANK_E {
    background-image: url(../../images/obj10.png);
}


.TANK_S {
    background-image: url(../../images/obj20.png);
}

.TANK_W {
    background-image: url(../../images/obj30.png);
}

.ANTI_TANK_DEAD_N {
    background-image: url(../../images/obj33.png);
}

.ANTI_TANK_DEAD_E {
    background-image: url(../../images/obj13.png);
}


.ANTI_TANK_DEAD_S {
    background-image: url(../../images/obj03.png);
}

.ANTI_TANK_DEAD_W {
    background-image: url(../../images/obj23.png);
}


.MOVABLE_BLOCK {
    background-image: url(../../images/obj61.png);
}

.MOVABLE_BLOCK_WATER {
    background-image: url(../../images/obj77.png);
}

.MIRROR_NE {
    background-image: url(../../images/obj40.png);
}

.MIRROR_SE {
    background-image: url(../../images/obj50.png);
}

.MIRROR_SW {
    background-image: url(../../images/obj60.png);
}

.MIRROR_NW {
    background-image: url(../../images/obj70.png);
}


.ROTARY_MIRROR_NW {
    background-image: url(../../images/obj07.png);
}

.ROTARY_MIRROR_NE {
    background-image: url(../../images/obj17.png);
}

.ROTARY_MIRROR_SE {
    background-image: url(../../images/obj27.png);
}

.ROTARY_MIRROR_SW {
    background-image: url(../../images/obj37.png);
}

.TUNNEL {
    background-image: url(../../images/obj67.png);
}

.DIRT {
    background-image: url(../../images/obj04.png);
}

.SOLID_BLOCK {
    background-image: url(../../images/obj65.png);
}

.CRYSTAL_BLOCK {
    background-image: url(../../images/obj75.png);
}

.BRICKS {
    background-image: url(../../images/obj74.png);
}

.ICE {
    background-image: url(../../images/obj66.png);
}

.THIN_ICE {
    background-image: url(../../images/obj76.png);
}

.ANTI_TANK_N {
    background-image: url(../../images/obj01.png);
}
.ANTI_TANK_N.bg1 {
    background-image: url(../../images/obj11.png);
}
.ANTI_TANK_N.bg2 {
    background-image: url(../../images/obj21.png);
}

/* @keyframes ANTI_TANK_N {
    33% {background-image: url("/images/obj11.png");}
    66% {background-image: url("/images/obj21.png");}
} */


.ANTI_TANK_E {
    background-image: url(../../images/obj31.png);
    /* animation-name: ANTI_TANK_E; */
}
.ANTI_TANK_E.bg1 {
    background-image: url(../../images/obj41.png);
}
.ANTI_TANK_E.bg2 {
    background-image: url(../../images/obj51.png);
}
/* @keyframes ANTI_TANK_E {
    33% {background-image: url("/images/obj41.png");}
    66% {background-image: url("/images/obj51.png");}
} */

.ANTI_TANK_S {
    background-image: url(../../images/obj02.png);
    /* animation-name: ANTI_TANK_S; */
}
.ANTI_TANK_S.bg1 {
    background-image: url(../../images/obj12.png);
}
.ANTI_TANK_S.bg2  {
    background-image: url(../../images/obj22.png);
}

/* @keyframes ANTI_TANK_S {
    33% {background-image: url("/images/obj12.png");}
    66% {background-image: url("/images/obj22.png");}
} */


.ANTI_TANK_W {
    background-image: url(../../images/obj32.png);
}
.ANTI_TANK_W.bg1 {
    background-image: url(../../images/obj42.png);
}
.ANTI_TANK_W.bg2 {
    background-image: url(../../images/obj52.png);
}

/* @keyframes ANTI_TANK_W {
    33% {background-image: url("/images/obj42.png");}
    66% {background-image: url("/images/obj52.png");}
} */

.FLAG {
    background-image: url(../../images/obj14.png);
}
.FLAG.bg1 {
    background-image: url(../../images/obj24.png);
}
.FLAG.bg2 {
    background-image: url(../../images/obj34.png);
}
/* @keyframes FLAG {
    33% {background-image: url("/images/obj24.png");}
    66% {background-image: url("/images/obj34.png");}
} */


.WATER {
    background-image: url(../../images/obj44.png);
}
.WATER.bg1 {
    background-image: url(../../images/obj54.png);
}
.WATER.bg2 {
    background-image: url(../../images/obj64.png);
}
/* @keyframes WATER {
    33% {background-image: url("/images/obj54.png");}
    66% {background-image: url("/images/obj64.png");}
} */

.TANK_MOVER_N {
    background-image: url(../../images/obj05.png);
}
.TANK_MOVER_N.bg1 {
    background-image: url(../../images/obj15.png);
}
.TANK_MOVER_N.bg2 {
    background-image: url(../../images/obj25.png);
}
/* @keyframes TANK_MOVER_N {
    33% {background-image: url("/images/obj15.png");}
    66% {background-image: url("/images/obj25.png");}
} */

.TANK_MOVER_E {
    background-image: url(../../images/obj35.png);
    /* animation-name: TANK_MOVER_E; */
}
.TANK_MOVER_E.bg1 {
    background-image: url(../../images/obj45.png);
    /* animation-name: TANK_MOVER_E; */
}
.TANK_MOVER_E.bg2 {
    background-image: url(../../images/obj55.png);
    /* animation-name: TANK_MOVER_E; */
}
/* @keyframes TANK_MOVER_E {
    33% {background-image: url("/images/obj45.png");}
    66% {background-image: url("/images/obj55.png");}
} */

.TANK_MOVER_S {
    background-image: url(../../images/obj06.png);
    /* animation-name: TANK_MOVER_S; */
}
.TANK_MOVER_S.bg1 {
    background-image: url(../../images/obj16.png);
    /* animation-name: TANK_MOVER_S; */
}
.TANK_MOVER_S.bg2 {
    background-image: url(../../images/obj26.png);
    /* animation-name: TANK_MOVER_S; */
}
/* @keyframes TANK_MOVER_S {
    33% {background-image: url("/images/obj16.png");}
    66% {background-image: url("/images/obj26.png");}
} */

.TANK_MOVER_W {
    background-image: url(../../images/obj36.png);
}
.TANK_MOVER_W.bg1 {
    background-image: url(../../images/obj46.png);
}
.TANK_MOVER_W.bg2 {
    background-image: url(../../images/obj56.png);
}
/* @keyframes TANK_MOVER_W {
    33% {background-image: url("/images/obj46.png");}
    66% {background-image: url("/images/obj56.png");}
} */
