html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: stretch;

  text-align: center;
  height: 100%;
  width: 100%;
}

.App * {
  box-sizing: border-box;
}

.App .MenuBar {
  flex: 0 0 30px;
}

.App .main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: stretch;
}

.App .main .Board {
  flex: 1;
}

.App .main .control-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 180px;
  border: 1px solid black;
}

.App .main .control-panel .info {
  flex: 0 0 245px;
  background-image: url("/images/control.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.App .main .control-panel .control {
  flex: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.App .main .control-panel .control > div{
  flex: 1;

  display: flex;
  flex-direction: row;
  align-content: center;
}

.App .main .control-panel .control > div > div{
  flex: 1;
  cursor: pointer;
  box-shadow: 0 0 1px 2px #e9e9e9;

  display: flex;
  justify-content: center;
  align-items: center;
}