html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 480px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: stretch;

  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App * {
  box-sizing: border-box;
}

.App .MenuBar {
  flex: 0 0 30px;
  z-index: 90;
}

.App .main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: stretch;
  z-index: 80;
}

.App .main .Board {
  flex: 1;
}